* {
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 120px;
  background-color: #11141a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 25px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 600px;
  font-size: 18px;
  margin-left: 40px;
  transition: 0.3s, color 0.2s;
}

nav a:hover, nav a.active {
    color: #0ef;
}

section{
    height: 100vh;
    font-size: 100px;
    font-weight: bold;
    color: white;
    background-color: #1f242d;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-child(odd){
    background-color: #323946;
}